<% if @labels.errors.any? %>
  <div id="error_explanation" class="alert alert-danger" role="alert">
    <h2><%= @labels.errors.count %>件のエラーが発生しました</h2>
    <ul>
    <% @labels.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
