<% if @user.errors.any? %>
  <div id="error_explanation" class="alert alert-danger" role="alert">
    <h3><%= pluralize(@user.errors.count, "件のエラーが発生しました") %></h3>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
